body {
    display: flex;
    justify-content: center;
    background-color: #6fbbf5;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-field {
    position: relative;
    flex-direction: row;
    margin-top: 1rem;
    font-size: 20px;
}
.input-field input {
    padding: 0.5rem;
    font-size: 20px;
}

.Login {
    position: relative;
    margin: 20px 75px 75px 90px;
}

form input[type="submit"] {
    background-color: limegreen;
    color: white;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 0.4rem;
    font-size: 30px;
}

.swapPage {
    margin-left: 175px;
}

/* form input[type="submit1" ] {
    background: linear-gradient(to left, #6fbbf5, #8e54e9);
    color: beige;
    border-radius: 4px;
    margin-top: 4rem;
    padding: 0.4rem;
} */