<html>
<head>
    <link rel="stylesheet" href="views/app.css">
</head>
<body>
    <form action="/user" method="post">
        <h2 style="font-size:50px">Login</h2>
        
        <div class="input-field">
            <h3>Username :</h3>
            <input type="text" name="username" id="username" placeholder="Enter Username">

        </div>
        <div class="input-field">
            <h4>Password :</h3>
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>

        <div class="Login">
            <input type="submit" id="Login" value="Log In">
            
        </div>

        <div class="swapPage">
            <a href="/loginAdmin">login as Admin</a>
        </div>
        
    </form>
    
</body>
</html>